In [6]:
import numpy as np
import csv
import matplotlib.pyplot as plt

##### 기존에 불러 오던 방식 -> csv를 리스트에 불러옴

In [7]:
lib_in = []
with open('sample_i.csv', mode= 'r', newline = '') as library_in:
    
    # mode r -> 읽기 모드이다
    #csv의 행단위로 데이터를 출력
    #각 line은 ㅣist형식으로 되어있다
    #newline = '' 데이터가 띄어쓰기 없이 들어간다

    reader = csv.reader(library_in)
    for row in reader:
        #print(row[0]) #0행의 숫자들
        lib_in.append(int(row[2]))
        if(len(lib_in) < 10):
            print(lib_in[0:10])
    print('#########################################################################')
    print(len(lib_in))

[436]
[436, 170]
[436, 170, 276]
[436, 170, 276, 377]
[436, 170, 276, 377, 354]
[436, 170, 276, 377, 354, 70]
[436, 170, 276, 377, 354, 70, 25]
[436, 170, 276, 377, 354, 70, 25, 12]
[436, 170, 276, 377, 354, 70, 25, 12, 222]
#########################################################################
9525

##### 판다스를 이용해보자

In [8]:
import pandas as pd

In [9]:
sample_lib_in_dataset = pd.read_csv("sample_i.csv", index_col=0) #-> 0번째 열을 index로 사용하겠다

In [10]:
sample_lib_in_dataset

                   �ⱸ   436  2014       �ǻ����ý����к�  �ڿ����д���
2017-03-02 6:20
2017-03-02 6:20   �Ա�   170  2014               ���а�  �ڿ����д���
2017-03-02 6:21   �Ա�   276  2012           ������а�     �ι�����
2017-03-02 6:31   �Ա�   377  2013           �߾��߹��а�     �ι�����
2017-03-02 7:07   �Ա�   354  2011          �۷ι�����а�  ����������
2017-03-02 7:22   �Ա�    70  2014               �濵�к�      �濵����
...               ...   ...   ...                 ...         ...
2017-03-02 23:49  �Ա�   118  2015               �濵�к�      �濵����
2017-03-02 23:50   �ⱸ   120  2013  ����ż��硤���̹����а�    ��������
2017-03-02 23:57  �Ա�   191  2009               ���а�  �ڿ����д���
2017-03-02 23:57   �ⱸ  1279  2016             ȭ�а��а�    ��������
2017-03-02 23:58  �Ա�   680  2013          �۷ι�����а�  ����������

[9524 rows x 5 columns]

# 전처리

#### 한글이여서 깨지므로 전처리 필요 -> 특히 index 부분

In [42]:
sample_lib_in = pd.read_csv("borrow_sample.csv", encoding = 'cp949') #-> 0번째 행을 index로 사용하겠다 열을 가지고 싶으면 index_row=0)
# encoding ->  'cp949' :한글 파일도 가져옴

In [43]:
sample_lib_in

,borrow_date,return_date,book_num,ISBN,book_name,borrow_or_extend,year_borrow,admission_year,department,b_department
0,2019-04-03 0:10,2019-04-24 17:11,E704317,9.788960e+12,(21세기 교양인을 위한) 漢字와 漢文,연장,56.0,2014.0,경영학부,경영대학
1,2019-04-03 0:11,2019-04-24 17:11,E704317,9.788960e+12,(21세기 교양인을 위한) 漢字와 漢文,연장,56.0,2014.0,경영학부,경영대학
2,2019-04-03 0:15,2019-04-08 10:23,E539230,9.788930e+12,최고문화경영자 CCO:기업의 운명을 결정짓는 문화에 말을 거는 방법,대출,2.0,2019.0,벤처중소기업학과,경영대학
3,2019-04-03 0:17,2019-05-07 9:28,E729658,9.791160e+12,"윤동주 전 시집 :윤동주 100주년 기념, 하늘과 바람과 별과 시",대출,90.0,2015.0,영어영문학과,인문대학
4,2019-04-03 0:17,2019-05-07 9:28,E729658,9.791160e+12,"윤동주 전 시집 :윤동주 100주년 기념, 하늘과 바람과 별과 시",연장,90.0,2015.0,영어영문학과,인문대학
...,...,...,...,...,...,...,...,...,...,...
9520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
print(sample_lib_in.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9525 entries, 0 to 9524
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   borrow_date       608 non-null    object
 1   return_date       608 non-null    object
 2   book_num          608 non-null    object
 3   ISBN              598 non-null    float64
 4   book_name         608 non-null    object
 5   borrow_or_extend  608 non-null    object
 6   year_borrow       608 non-null    float64
 7   admission_year    608 non-null    float64
 8   department        608 non-null    object
 9   b_department      608 non-null    object
dtypes: float64(3), object(7)
memory usage: 744.3+ KB
None

#### 불필요한 index 삭제

In [45]:
sample_lib_in = sample_lib_in.dropna(how='all') #NaN 있는 데이터 모두 지움 ->row 또는 column에 있는 모든 값이 NaN이어야 drop

In [46]:
sample_lib_in

,borrow_date,return_date,book_num,ISBN,book_name,borrow_or_extend,year_borrow,admission_year,department,b_department
0,2019-04-03 0:10,2019-04-24 17:11,E704317,9.788960e+12,(21세기 교양인을 위한) 漢字와 漢文,연장,56.0,2014.0,경영학부,경영대학
1,2019-04-03 0:11,2019-04-24 17:11,E704317,9.788960e+12,(21세기 교양인을 위한) 漢字와 漢文,연장,56.0,2014.0,경영학부,경영대학
2,2019-04-03 0:15,2019-04-08 10:23,E539230,9.788930e+12,최고문화경영자 CCO:기업의 운명을 결정짓는 문화에 말을 거는 방법,대출,2.0,2019.0,벤처중소기업학과,경영대학
3,2019-04-03 0:17,2019-05-07 9:28,E729658,9.791160e+12,"윤동주 전 시집 :윤동주 100주년 기념, 하늘과 바람과 별과 시",대출,90.0,2015.0,영어영문학과,인문대학
4,2019-04-03 0:17,2019-05-07 9:28,E729658,9.791160e+12,"윤동주 전 시집 :윤동주 100주년 기념, 하늘과 바람과 별과 시",연장,90.0,2015.0,영어영문학과,인문대학
...,...,...,...,...,...,...,...,...,...,...
603,2019-04-03 23:42,2019-04-01 19:24,E636276,9.789000e+12,원가관리회계 =Cost management accounting,대출,32.0,2014.0,사학과,인문대학
604,2019-04-03 23:56,2019-04-15 10:29,E134703,NaN,平家物語,대출,78.0,2018.0,일어일문학과,인문대학
605,2019-04-03 23:56,2019-04-15 10:29,E134703,NaN,平家物語,연장,78.0,2018.0,일어일문학과,인문대학
606,2019-04-03 23:56,2019-04-18 17:03,E735719,9.788960e+12,민주화 이후의 민주주의:한국 민주주의의 보수적 기원과 위기,대출,78.0,2018.0,일어일문학과,인문대학
607,2019-04-03 23:59,2019-04-18 17:03,E735719,9.788960e+12,민주화 이후의 민주주의:한국 민주주의의 보수적 기원과 위기,연장,78.0,2018.0,일어일문학과,인문대학

In [47]:
sample_lib_in = sample_lib_in.dropna(how='any') #-> 하나라도 있으면 지움

In [48]:
sample_lib_in

,borrow_date,return_date,book_num,ISBN,book_name,borrow_or_extend,year_borrow,admission_year,department,b_department
0,2019-04-03 0:10,2019-04-24 17:11,E704317,9.788960e+12,(21세기 교양인을 위한) 漢字와 漢文,연장,56.0,2014.0,경영학부,경영대학
1,2019-04-03 0:11,2019-04-24 17:11,E704317,9.788960e+12,(21세기 교양인을 위한) 漢字와 漢文,연장,56.0,2014.0,경영학부,경영대학
2,2019-04-03 0:15,2019-04-08 10:23,E539230,9.788930e+12,최고문화경영자 CCO:기업의 운명을 결정짓는 문화에 말을 거는 방법,대출,2.0,2019.0,벤처중소기업학과,경영대학
3,2019-04-03 0:17,2019-05-07 9:28,E729658,9.791160e+12,"윤동주 전 시집 :윤동주 100주년 기념, 하늘과 바람과 별과 시",대출,90.0,2015.0,영어영문학과,인문대학
4,2019-04-03 0:17,2019-05-07 9:28,E729658,9.791160e+12,"윤동주 전 시집 :윤동주 100주년 기념, 하늘과 바람과 별과 시",연장,90.0,2015.0,영어영문학과,인문대학
...,...,...,...,...,...,...,...,...,...,...
601,2019-04-03 23:01,2019-04-26 21:06,E779738,9.791160e+12,직장이 없는 시대가 온다,대출,32.0,2014.0,사학과,인문대학
602,2019-04-03 23:24,2019-04-26 21:06,E779738,9.791160e+12,직장이 없는 시대가 온다,연장,32.0,2014.0,사학과,인문대학
603,2019-04-03 23:42,2019-04-01 19:24,E636276,9.789000e+12,원가관리회계 =Cost management accounting,대출,32.0,2014.0,사학과,인문대학
606,2019-04-03 23:56,2019-04-18 17:03,E735719,9.788960e+12,민주화 이후의 민주주의:한국 민주주의의 보수적 기원과 위기,대출,78.0,2018.0,일어일문학과,인문대학
607,2019-04-03 23:59,2019-04-18 17:03,E735719,9.788960e+12,민주화 이후의 민주주의:한국 민주주의의 보수적 기원과 위기,연장,78.0,2018.0,일어일문학과,인문대학

In [54]:
#year_borrow와 admission_year int 형이였음 좋겠음
sample_lib_in['year_borrow'] = sample_lib_in['year_borrow'].astype(int)
sample_lib_in['admission_year'] = sample_lib_in['admission_year'].astype(int)

<ipython-input-54-4f071760a197>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_lib_in['year_borrow'] = sample_lib_in['year_borrow'].astype(int)
<ipython-input-54-4f071760a197>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_lib_in['admission_year'] = sample_lib_in['admission_year'].astype(int)

In [65]:
sample_lib_in.columns

Index(['borrow_date', 'return_date', 'book_num', 'ISBN', 'book_name',
       'borrow_or_extend', 'year_borrow', 'admission_year', 'department',
       'b_department'],
      dtype='object')

In [66]:
sample_lib_in= sample_lib_in.drop([sample_lib_in.columns[0],sample_lib_in.columns[1],sample_lib_in.columns[2],sample_lib_in.columns[5],sample_lib_in.columns[9]], axis= 1)

In [67]:
sample_lib_in.columns

Index(['ISBN', 'book_name', 'year_borrow', 'admission_year', 'department'], dtype='object')

In [68]:
sample_lib_in

,ISBN,book_name,year_borrow,admission_year,department
0,9.788960e+12,(21세기 교양인을 위한) 漢字와 漢文,56,2014,경영학부
1,9.788960e+12,(21세기 교양인을 위한) 漢字와 漢文,56,2014,경영학부
2,9.788930e+12,최고문화경영자 CCO:기업의 운명을 결정짓는 문화에 말을 거는 방법,2,2019,벤처중소기업학과
3,9.791160e+12,"윤동주 전 시집 :윤동주 100주년 기념, 하늘과 바람과 별과 시",90,2015,영어영문학과
4,9.791160e+12,"윤동주 전 시집 :윤동주 100주년 기념, 하늘과 바람과 별과 시",90,2015,영어영문학과
...,...,...,...,...,...
601,9.791160e+12,직장이 없는 시대가 온다,32,2014,사학과
602,9.791160e+12,직장이 없는 시대가 온다,32,2014,사학과
603,9.789000e+12,원가관리회계 =Cost management accounting,32,2014,사학과
606,9.788960e+12,민주화 이후의 민주주의:한국 민주주의의 보수적 기원과 위기,78,2018,일어일문학과
607,9.788960e+12,민주화 이후의 민주주의:한국 민주주의의 보수적 기원과 위기,78,2018,일어일문학과

In [70]:
# 가정 (year_borrow admission_year,department) -> primary_key
sample_lib_in =sample_lib_in.drop_duplicates(['year_borrow' ,'admission_year','department'])

In [71]:
sample_lib_in

,ISBN,book_name,year_borrow,admission_year,department
0,9.788960e+12,(21세기 교양인을 위한) 漢字와 漢文,56,2014,경영학부
2,9.788930e+12,최고문화경영자 CCO:기업의 운명을 결정짓는 문화에 말을 거는 방법,2,2019,벤처중소기업학과
3,9.791160e+12,"윤동주 전 시집 :윤동주 100주년 기념, 하늘과 바람과 별과 시",90,2015,영어영문학과
12,9.791190e+12,가짜와 진짜 :김승옥 소설,103,2015,예술창작학부 영화예술전공
15,9.788980e+12,한국대표고전소설1 :꿈과 죽음과 사랑,7,2015,국어국문학과
...,...,...,...,...,...
587,9.791190e+12,"(IFRS) 객관식재무회계 :공인회계사 1차 대비,문제편",81,2013,경영학부
588,9.788970e+12,대학물리학,18,2017,전기공학부
589,9.788970e+12,(新)中國史,138,2018,중어중문학과
598,9.788930e+12,구글은 어떻게 일하는가 :에렉 슈미트가 직접 공개하는 구글 방식의 모든 것,49,2019,벤처중소기업학과
601,9.791160e+12,직장이 없는 시대가 온다,32,2014,사학과

In [72]:
#마지막 index 재할당
sample_lib_in.reset_index()

,index,ISBN,book_name,year_borrow,admission_year,department
0,0,9.788960e+12,(21세기 교양인을 위한) 漢字와 漢文,56,2014,경영학부
1,2,9.788930e+12,최고문화경영자 CCO:기업의 운명을 결정짓는 문화에 말을 거는 방법,2,2019,벤처중소기업학과
2,3,9.791160e+12,"윤동주 전 시집 :윤동주 100주년 기념, 하늘과 바람과 별과 시",90,2015,영어영문학과
3,12,9.791190e+12,가짜와 진짜 :김승옥 소설,103,2015,예술창작학부 영화예술전공
4,15,9.788980e+12,한국대표고전소설1 :꿈과 죽음과 사랑,7,2015,국어국문학과
...,...,...,...,...,...,...
210,587,9.791190e+12,"(IFRS) 객관식재무회계 :공인회계사 1차 대비,문제편",81,2013,경영학부
211,588,9.788970e+12,대학물리학,18,2017,전기공학부
212,589,9.788970e+12,(新)中國史,138,2018,중어중문학과
213,598,9.788930e+12,구글은 어떻게 일하는가 :에렉 슈미트가 직접 공개하는 구글 방식의 모든 것,49,2019,벤처중소기업학과
214,601,9.791160e+12,직장이 없는 시대가 온다,32,2014,사학과